<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Bridgit Notes</title>
     <!-- Parse, JQuery, Underscore -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.1.min.js"></script>


     <!--Twitter Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
   <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    </head>
  
  <body>
<div class="container">
<div id="sitesec">
      <div class="title">
        <h1>Bridgit Notes</h1>
      </div>

      <div class="content">
      </div>
</div>

</div>
<script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form form-inline">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button class="btn btn-primary">Log In</button>
        </form>
<!--
        <form class="signup-form form-inline">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button class="btn btn-primary">Sign Up</button>
        </form>-->
      </div>
</script>

	<!-- Section: NOTES -->
<script type="text/template" id="note-view-template">
    <div id ="user-info">
        Signed in as <strong><%= Parse.User.current().get("username") %></strong> (<a href="#" class="log-out">Log out</a>)
    </div>
    <ul class="pager">
      
    <li class="previous">
      <a class="prevDate">&larr; Older</a>
    </li>
    <li class="next disabled">
      <a class="nextDate">Newer &rarr;</a>
    </li>

    <h3>Notes from March 27, 2013</h3>
  </ul>
    <!--<h4>Add a new note</h4>
    <textarea rows="5" id="enter-note" placeholder="Type note here..."></textarea><br>
    <button id="save-note" class="btn btn-primary">Save Note</button>
-->
    <dl id="note-list">
    </dl>
</script>

<script type="text/template" id="note-item-template">
    <dt class="note-date"><% print(timeFromDate(createdAt));%> &nbsp;&nbsp;</dt>
    <dd class="note-body"><%= noteText %><dd>
</script>

  <script src="lib/date.format.js" type="text/javascript"></script>
  <script src="lib/dateFormatting.js" type="text/javascript"></script>
  
 	<!-- Main App View-->
    <script src="js/AppView.js" type="text/javascript"></script>

   <!-- Login -->
   <script src="js/LogInView.js" type="text/javascript"></script>

   <!-- Notes view-->
	<script src="js/ManageNoteView.js" type="text/javascript"></script>
	<script src="note/Note.js" type="text/javascript"></script>
	<script src="note/NoteList.js" type="text/javascript"></script>
	<script src="note/NoteView.js" type="text/javascript"></script>


  <script src="js/index.js" type="text/javascript"></script>
</body>
</html>