<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
    <title>Bridgit Note Adder</title>
     <!-- Parse, JQuery, Underscore -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.1.min.js"></script>


     <!--Twitter Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
   <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    </head>
    
  <body>
    <div class="container">
      <div id="noteadder">
          <div class="title">
            <h1>Bridgit Note Adder Utility - Currently Admin Access only</h1>
          </div>

      <div class="content">
      </div>
      </div>
    </div>

<script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form form-inline">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button class="btn btn-primary">Log In</button>
        </form>

        <form class="signup-form form-inline">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button class="btn btn-primary">Sign Up</button>
        </form>
      </div>
</script>

    <!-- Section: NOTES -->
<script type="text/template" id="note-view-template">
    <div id ="user-info">
        Signed in as <strong><%= Parse.User.current().get("username") %></strong> (<a href="#" class="log-out">Log out</a>)
    </div>

    <h4>Add a new note</h4>
    
    <textarea rows="5" id="enter-note" placeholder="Type note here..."></textarea><br>
    <!-- Month dropdown -->

    <form class="form-inline">
    <label>For site date:</label> 
<select name="month" id="month" onchange="" size="1" class="input-small">
    <option value="0">January</option>
    <option value="1">February</option>
    <option value="2">March</option>
    <option value="3">April</option>
    <option value="4">May</option>
    <option value="5">June</option>
    <option value="6">July</option>
    <option value="7">August</option>
    <option value="8">September</option>
    <option value="9">October</option>
    <option value="10">November</option>
    <option value="11">December</option>
</select>

<!-- Day dropdown -->
<select name="day" id="day" onchange="" size="1" class="input-mini">
    <option value="1">01</option>
    <option value="2">02</option>
    <option value="3">03</option>
    <option value="4">04</option>
    <option value="5">05</option>
    <option value="6">06</option>
    <option value="7">07</option>
    <option value="8">08</option>
    <option value="9">09</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
    <option value="19">19</option>
    <option value="20">20</option>
    <option value="21">21</option>
    <option value="22">22</option>
    <option value="23">23</option>
    <option value="24">24</option>
    <option value="25">25</option>
    <option value="26">26</option>
    <option value="27">27</option>
    <option value="28">28</option>
    <option value="29">29</option>
    <option value="30">30</option>
    <option value="31">31</option>
</select>
<input type="number" name="year" id="year" min="2010" max="2013" class="input-mini" value="2013">
</form>

Tag it:
<div id="tags">
</div>

    <button id="save-note" class="btn btn-primary">Save Note</button>


    <legend>New notes</legend>
    <dl id="note-list">
    </dl>
    
</script>

<script type="text/template" id="note-item-template">
    <dt class="note-date">Header</dt>
    <dd><%= noteText %><b><ul id="memo-tags-list" class="inline"></ul></b></dd>
</script>

<!--couldn't get this to work, decided I didn't need it-->
<script type="text/template" id="memo-tag-template">
  <li><%= tagText %></li>
</script>

<script type="text/template" id="tag-list-template">
  <ul id="tag-list" class="unstyled">
  </ul>
<!--<strong>Add new tag to global list (do not use hashtag, not necesary)</strong>-->

      <input type="text" placeholder="Add new tag...(no #)" id="new-tag-text" class="input-medium"/>
       <!--<button class="btn btn-primary inline" id="new-tag-submit">Add New Tag</button>-->
</script>

  <script type="text/template" id="tag-item-template">
      <li class="form-inline">
        <label class="checkbox inline"><input class="toggle" type="checkbox" checked="checked"><%= tagText %></label>
      </li>
    </script>

  <script src="lib/date.format.js" type="text/javascript"></script>
  <script src="lib/dateFormatting.js" type="text/javascript"></script>

  <!-- Login -->
   <script src="js_adder/AdderLogInView.js" type="text/javascript"></script>

   <!--app launcher-->
   <script src="js_adder/AdderAppView.js" type="text/javascript"></script>
<!--Tags-->
  <script src="tag/Tag.js" type="text/javascript"></script>
  <script src="tag/TagList.js" type="text/javascript"></script>
  <script src="tag/TagView.js" type="text/javascript"></script>
  <script src="tag/TagManager.js" type="text/javascript"></script>
   <!--Notes-->
  <script src="note/Note.js" type="text/javascript"></script>
  <script src="note/NoteList.js" type="text/javascript"></script>
  <script src="note/NoteView.js" type="text/javascript"></script>
  <script src="tag/MemoTagView.js" type = "text/javascript"></script>

  <script src="js_adder/AddNotesView.js" type="text/javascript"></script>

  

   <script src="js_adder/adder.js" type="text/javascript"></script>

  <!-- <script src="lib/bootstrap.min.js" type="text/javascript"></script>-->
  </body>
  </html>
